@import "tailwindcss";




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  /* min-width breakpoints – în rem pentru consecvență */
  --breakpoint-sm: 22.5rem;
  /* 360 px */
  --breakpoint-md: 48rem;
  /* 768 px */
  --breakpoint-lg: 64rem;
  /* 1024 px */
  --breakpoint-xl: 80rem;
  /* 1280 px */

  /* Presonalized colors */
  --color-light: rgb(245, 245, 245);
  --color-primary: rgb(42, 100, 149);
  --color-accent: rgb(238, 130, 50);
  --color-muted: rgb(81, 81, 81);
  --color-dark: rgb(30, 30, 30)
}

html {
  scroll-behavior: smooth;
}

/* Anchor scroll offset for sticky header */
[id] {
  scroll-margin-top: 8rem;
  /* adjust based on header height */
}